<h1>Hello</h1>
<h1>{{myName}}</h1>
<h1>{{name}}</h1>
<h1>{{bin_location}}</h1>
<h1>{{description}}</h1>
<h1>{{poohmadeit}}</h1>
<h1>{{retroluxe}}</h1>

<button type="submit">1</button>
<button type="submit">2</button>

<ul>
  {{#each retroluxe}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Name: {{this.name}}</p>
       <p>BinLocation: {{this.bin_location}}</p>
       <p>Description: {{this.description}}</p>
  	</li>
  {{/each}}
</ul>


<form action="/api/retroluxe" method="POST">
    <textarea type="text" name="retroluxe"></textarea>

    <button type="submit">Submit To Retro</button>
</form>

{{!-- <form action="/api/retroluxe/:id" method="DELETE">
    <textarea type="number" name="retroluxe"></textarea>

    <button type="submit">Update Retro</button>
</form> --}}

{{!-- <form action="/api/retroluxe/:id/delete" method="POST">
    <textarea type="text" name="retroluxe"></textarea>

    <button type="submit">Delete By ID Retro</button>
</form> --}}