<h1>Hello</h1>
<h1>Mrs.{{myName}}</h1>
<h1>{{chatSay}}</h1>
<h1>What Would You Like To Do Today?</h1>

<ul>
    {{#each poohmadeit}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Name: {{this.name}}</p>
        <p>BinLocation: {{this.bin_location}}</p>
        <p>Description: {{this.description}}</p>
        <p>Image: {{this.img}}</p>
        <p>Timestamp: {{this.timestamp}}</p>
    </li>
    {{/each}}
</ul>
<ul>
    {{#each retroluxe}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Name: {{this.name}}</p>
        <p>BinLocation: {{this.bin_location}}</p>
        <p>Description: {{this.description}}</p>
        <p>Image: {{this.img}}</p>
        <p>Timestamp: {{this.timestamp}}</p>
    </li>
    {{/each}}
</ul>

<form method="POST" id="createRetro">
    {{!-- <form action="/api/retroluxe" method="POST" id="createRetro"> --}}
        <div id="dataHelp" class="form-text">Send data to retroluxe.</div>
        <input placeholder="Item Name" type="text" class="form-control" id="name">
        <br>
        <input placeholder="Bin Location" type="number" class="form-control" id="bin_location">
        <br>
        <textarea type="text" name="retroluxe" id="description">Description: </textarea>
        <br>
        <input class="form-control form-control-sm" id="img" type="file">
        <br>
        <input type="checkbox" class="form-check-input" id="important">
        <br>
        <button type="submit">Submit To retroluxe</button>
    </form>
    <br>

    <script type="text/javascript">

        // When user chirps (clicks addBtn)
        $("#createRetro").on("click", function (event) {
            event.preventDefault();

            // Make a newRetro object
            var newRetro = {
                name: $("#name").val().trim(),
                bin_location: $("#bin_location").val().trim(),
                description: $("#description").val().trim(),
                created_at: moment().format("YYYY-MM-DD HH:mm:ss")
            };

            console.log(newRetro);

            // Send an AJAX POST-request with jQuery
            $.post("/api/retroluxe", newRetro)
                // On success, run the following code
                .then(function () {
                    console.log("added new Item");
                    // Reload the page to get the updated list
                });
        });
    </script>